.bold {
    font-weight: bold;
}

.help-spec-container {
    padding: 15px;
}

.a_link {
    text-decoration: none;
    color: var(--ion-color-success)!important;
}

.app-version {
    padding: 15px;
    text-align: center;
    font-weight: bold;
}
