.arrow-icon-highlight {
    color: #000;
    padding: 12px;
}

.arrow-icon-highlight-ios {
    font-size: 26px;
}

.icon_back_handle {
    font-size: 18px;
    vertical-align: top;
}

.ml-10 {
    margin-left: 10px;
}
